* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.content {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10vw;
    animation: showContent 500ms linear;
    box-shadow: 0 0 10px rgb(200, 200, 210);
    overflow-y: auto!important;
}
.inp {
    box-sizing: border-box;
    width: 80vw;
    font-size: 1.2em;
    padding: 9px;
    border-radius: 20px;
    border: 1px solid rgb(200, 200, 210);
    margin-top: 20px;
    outline: none;
    text-align: center;
}
@keyframes showContent {
    0% {
        left: -100vw;
    }
    100% {
        left: 0;
    }
}
footer {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    bottom: 0;
    height: 7vh;
    width: 100vw;
    background-color: rgb(200, 200, 210);
    box-shadow: 0 0 10px rgb(46, 46, 31);
}
.menuItem {
    height: 5.5vh;
    margin-top: 0.7vh;
}